<h1>{{ section.settings.tit}}</h1>
<h1>{{ section.settings.desc}}</h1>

{% schema %}
  {
    "name": "Services Header",
    "settings": [
                  {
					"type":"text",
					"label":"title",
					"id":"tit"
                  },
				  {
					"type":"richtext",
					"label":"description",
					"id":"desc"
                  }
				]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
