<div class="header-section" 
     style="
            background-image:url('{{ section.settings.bgimage | image_url: width: 375 }}');
            background-color:{{ section.settings.bgcolor}};
            ">
  
<h1 class="header-h1">{{ section.settings.tit}}</h1>
<p>{{ section.settings.desc}}</p>
</div>

{% schema %}
  {
    "name": "Services Header",
    "settings": [
                  {
					"type":"text",
					"label":"title",
					"id":"tit"
                  },
				  {
					"type":"richtext",
					"label":"description",
					"id":"desc"
                  },
                  {
                    "type": "color",
                    "id": "bgcolor",
                    "label": "Background color",
                    "default": "#FFFFFF"
                  },
                  {
                    "type": "image_picker",
                    "id": "bgimage",
                    "label": "Custom Background Image"
                  }
				],
		"blocks": [
                  {
					"type":"image",
					"name":"Image Block",
					"settings": [
                                {
                                  "type":"image_picker",
                                  "label":"Image Block",
                                  "id":"image"
                                }
                              ]
                  }
				],
		"presets": [
                  	{
					"category":"services",
					"name":"services header"
					}
				]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
